/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.box {
  color: yellow;
}
#outer-box {
  border: solid purple 10px;
  /* padding:0px; */
}

.white-text {
  background-color: red;
  padding: 20px;
  color: white;
}
